.title-wrapper {
  text-align: center;

  h2 {
    font-size: 15px;
  }

}

.btn-create-wrapper {
  width: 50%;
  margin: auto;
}

.line {
  width: 50%;
  margin: auto;
  height: 1px;
  background-color: rgba(0, 0, 0, .1);
  margin-bottom: 5px;
}

.cards {
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 50%;
  margin: auto;
}