<div class="title-wrapper">
  <h1>The Playlists</h1>
  <h2>Here you can create your own playlist, edit your already existing playlist, add songs, and show it to the world!</h2>
</div>
<div>
  <button class="create" (click)="setModal(true)">New Playlist</button>
  <app-create-playlist [showModal]="modalShowed" (closeModal)="setModal($event)"></app-create-playlist>
</div>
<div class="line"></div>
<div *ngFor="let playlist of playlists; let idx = index" class="cards">
  <app-playlist [playlist]="playlist" [idx]="idx" (deletePlaylist)="deletePlaylist($event)"></app-playlist>
</div>
