.card {
  margin: 5px 0;
}


.line {
  width: 100%;
  height: 1px;
  background-color: rgba(0, 0, 0, .1);
  margin-bottom: 5px;
}

.songs {
  padding-top: 10px;

  .song {
    margin-left: 20px;
    display: flex;
    flex-direction: row;
    align-items: center;

    .icon {
      margin-right: 10px;
    }

    h4 {
      margin-bottom: 0;
      font-weight: 500;
    }
  }
}